ansible==1.8.2
boto==2.38.0
ec2==0.4.0
ecdsa==0.13
Flask==0.10.1
httplib2==0.9.1
ipaddress==1.0.7
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
paramiko==1.15.2
pycrypto==2.6.1
PyYAML==3.11
requests==2.7.0
six==1.9.0
Werkzeug==0.10.4
awscli
redis
